* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.sec1 {
    background: #FBF8F5;
}

.longtext {
    font-size: 18px;
    width: 528px;
}

h1 {
    font-size: 64px;
    font-weight: 400;
    width: 376px;
}

.btn1 {
    background-color: #E9672B;
    border-radius: 30px;
    border: none;
    width: 154px;
    height: 60px;
    font-size: 18px;
    margin-top: 46px;
}

.wrapper {
    padding-left: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right {
    width: 628px;
    height: 611px;
}

.sec2 {
    background: #FBF8F5;
    height: 450px;
}

.wrapper2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.wrap2sons {
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid orange;
    border-radius: 4px;
}

.wrap2sons:nth-child(1) {
    box-shadow: 8px 8px 0px #CBC6F4;
}

.wrap2sons:nth-child(2) {
    box-shadow: 8px 8px 0px #E7CB43;
}

.wrap2sons:nth-child(3) {
    box-shadow: 8px 8px 0px #A2D4C5;
}

.wrap2sons:nth-child(4) {
    box-shadow: 8px 8px 0px #AF4920;
}

.text {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400px;
}

.wrap2sons:nth-child(2) {
    border-color: #225DCA;
}

.wrap2sons:nth-child(3) {
    border-color: #242947;
}

.wrap2sons:nth-child(4) {
    border-color: #DE4333;
}

.sec2text h2 {
    font-size: 48px;
    font-weight: 400;
}

.sec2text {
    text-align: center;
    margin-bottom: 43px;
}

.sec3 {
    height: 381px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.sec3 h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height, or 122% */
    margin-bottom: 16px;
    text-align: center;

    color: #000000;

}

.sec3 p {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #000000;
    max-width: 892px;
}

.dadleftright {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left2 {
    width: 50%;
    margin-left: 85px;
}

.left2 h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    width: 369px;
}

.left2 p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    width: 438px;
}

.right2 {
    width: 50%;
}

.visit {
    margin-top: 33px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #E9672B;
}

.left3 {
    width: 50%;
    margin-top: 64px;
}

.right3 {
    width: 50%;
}

.right3 h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    width: 369px;
}

.right3 p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    width: 438px;
}

.dadleft3right3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ortext {
    color: #E9672B;
    margin-top: 33px;
}

.sec10 {
    background: #F6CFCA;
    width: 100%;


}

.sec10big {
    width: 913px;
    height: 400px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 88px;
    text-align: center;
    line-height: 100px;
    color: #000000;
}

.dadsec10big {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.images {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-top: 41px;
    padding-bottom: 105px;
}

.imgwomen {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
}

.btn12 {
    border: none;
    border-radius: 88px;
    background: #E9672B;
    width: 202px;
    height: 60px;
    margin-top: 39px;
}

.textbtn {
    font-size: 18px;
}

.centertext {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 41px;
}

.sec11 {
    width: 100%;
}

.feath {
    font-size: 24px;
    line-height: 32px;
    width: 292px;
}